.conteneur
{
  display: flex;
  flex-direction: column;
  float: left;
}
.head{
  height: 150px;
  display: flex;
  width: 100%
}
.head1{
  float: left;
  width: 25%;
  padding: 50px 30px 20px 30px;
  background-color: #ffca05;
  border: 2px;
}
.head2{

  width: 60%;
}


.forma1
{
  float: right;
  width: 20%;
  height: 100px;
  text-align: left;
  margin: 1px;
  background-color: green;
}
.forma2
{
  width: 60%;
 height: 100px;
  margin: 1px;
  text-align: justify;
  background-color: red;
  float: center
}

.contact
{
  width: 25%;
  padding-top: 2em;
  padding-left: 2em;
  text-align: left;
  padding-right: 2em;
  margin: 1px;
  background-color: #ffca05;
  float: left;
}
.a_propos
{
  width: 25%;
  height: auto;
  padding-top: 2em;
  padding-left: 2em;
  text-align: justify;
  padding-right: 2em;
  margin: 1px;
  background-color: #ffca05;
  float: left;

}
.loisirs
{
  width: 25%;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  text-align: justify;
  margin: 1px;
  float: left;
  background-color: #ffca05;

}
.job1
{
  text-align: justify;
  width: 60%;
  height: 100px;
  margin: 1px;
  background-color: red
}
.job2
{
  text-align: justify;
  width: 60%;
  height: 100px;
  margin: 1px;
  background-color: red
}
.job3
{
  text-align: justify;
  width: 60%;
  height: 100px;
  margin: 1px;
  background-color: red
}
.recom1
{
  text-align: justify;
  width: 60%;
  height: 10px;
  margin: 1px;
  background-color: red
}
.recom2
{
  text-align: justify;
  width: 60%;
  height: 10px;
  margin: 1px;
  background-color: red
}
.contact h3, .a_propos h3, .loisirs h3
{
  color: #ffca05;
  text-align: center;
  width: auto;
  height: auto;
  padding: 5px;
  background-color: #404040;
}
h3
{
  margin: 1PX;
  font-weight: bold;
}

#souligne
{
  text-decoration: underline;
  text-decoration-color: #ffca05;
}
.prenom
{
  color: #ffca05;
}

@font-face,
{
  font-family: 'cac_champagneregular';
  src: url('resume_font.ttf');
}
*
{
  font-family: 'cac_champagneregular', Arial, serif;
}
